<div class="social-links">
  <a href="https://github.com/mnkii" target="_blank"><img src="/assets/images/site/github-mark.png" class="social-icon" alt="GitHub"></a>
  <a href="https://www.youtube.com/@banjowise" target="_blank"><img src="/assets/images/site/youtube_social_squircle_red.png" class="social-icon" alt="YouTube"></a>
  <a href="https://www.instructables.com/member/banjowise/" target="_blank"><img src="/assets/images/site/instructables-logo-v2.png" class="social-icon" alt="Instructables"></a>
</div>
