// Responsive YouTube videos
.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; // 16:9 aspect ratio
  margin-bottom: 1rem;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

// Post images
.post-content {
  img {
    height: auto;
    margin: 1rem auto;
    display: block;
  }
}

.social-links {
  .social-icon {
    width: 35px;
    margin-left: 10px;            
    &:hover {
      opacity: 0.6;
    }
  }
}

.footer-text {
  font-style: italic;
}